@font-face {
  font-family: "Minecraft Ten";
  src: url("/fonts/MinecraftTen.woff2") format("woff2");
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  overscroll-behavior: none;
}

img {
  pointer-events: none;
}

*:not(input) {
  user-select: none;
}

#app {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  overflow: hidden;
}